@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.chart-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 2;
  min-width: 300px;
  height: 550px;
}

.other-users {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 300px;
  max-height: 550px; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.podium-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
}

.podium-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
}

.podium-item:first-child {
  order: 2;
  /* Center item */
}

.podium-item:nth-child(2) {
  order: 1;
  /* Left item */
}

.podium-item:nth-child(3) {
  order: 3;
  /* Right item */
}

.podium-rank-1 {
  height: 150px;
  /* Center user (1st place) higher */
}

.podium-rank-2 {
  height: 100px;
  /* Left user (2nd place) */
}

.podium-rank-3 {
  height: 120px;
  /* Right user (3rd place) */
}

.podium-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.podium-item .score {
  font-weight: bold;
  font-size: 18px;
}

.button-container {
  margin-top: 24px;
  text-align: center;
}

.view-rewards-button {
  background-color: #1d4ed8;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.view-rewards-button:hover {
  background-color: #2563eb;
}